<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">TATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="titulo-conteudo">
    <ion-col>
      <ion-title>Cadastro</ion-title>
    </ion-col>
  </ion-row>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button color="dark" type="submit" expand="block" (click)="registrar()">Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

