<ion-header>
  <ion-toolbar>
    <ion-title class="titulo-header">TATS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo" style="background-color: mediumblue;">
  <ion-row>
    <ion-col class="titulo-conteudo">
      <ion-title>Login</ion-title>
    </ion-col>
  </ion-row>

  <form>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" (click)="login()">Entrar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" (click)="cadastro()">Cadastre-se</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>