<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="exibeMarker(cliente)">{{ cliente?.title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="location" slot="start"></ion-icon>
    Longitude: {{ cliente?.longitude }}
    Latitude: {{ cliente?.latitude }}
  </ion-item>
  <ion-item>
    <ion-icon name="call" slot="start"></ion-icon>
    Telefone: {{ clienteInfo.telefone }}
  </ion-item>
  <ion-item>
    <ion-icon name="storeFront" slot="start"></ion-icon>
    Descrição: {{ clienteInfo.descricao }}
  </ion-item>
</ion-content>

